<header class="site-header">
  <div class="brand">
    <div class="brand-title">{{ site.data.site.title }}</div>
    <div class="brand-sub">{{ site.data.site.subtitle }}</div>
    <div class="brand-issn">{{ site.data.site.issn }}</div>
  </div>

  <nav class="nav">
    <a href="{{ '/' | relative_url }}">Início</a>
    <a href="{{ '/patrono/' | relative_url }}">Patrono</a>
    <a href="{{ '/edicoes/' | relative_url }}">Arquivo de Edições</a>
    <a href="{{ '/blog/' | relative_url }}">Blog</a>
    <a href="{{ '/biografias/' | relative_url }}">Biografias</a>
    <a href="{{ '/expediente/' | relative_url }}">Expediente</a>
    <a href="{{ '/faq/' | relative_url }}">FAQ</a>
    <a href="{{ '/contato/' | relative_url }}">Entre em contato</a>
  </nav>
</header>
